.venv/
__pycache__
app/__pycahce__
app/AudioFiles
AudioFiles
Images
separated
TranscriptionData
H_freq_frequency_dict
app/Images
jmdict_english
Test Audio
Test Transcriptions
TestPrograms
app/TranscriptionData
test.py
test1.py
test3.py
test4.py
dock.txt
requirements_full.txt
freq_gen.py