AudioFiles/out_0.wav
AudioFiles/out_1.wav
Images/img_1.jpg
Images/img_3.jpg
Images/img_4.jpg
Images/img_5.jpg
__pycache__/Cards.cpython-311.pyc
__pycache__/Deck.cpython-311.pyc
__pycache__/ScreenRecord.cpython-311.pyc
__pycache__/Transcribe.cpython-311.pyc
__pycache__/Cards.cpython-311.pyc
__pycache__/ScreenRecord.cpython-311.pyc
__pycache__/Transcribe.cpython-311.pyc
TranscriptionData/new_0_segments.json
TranscriptionData/new_0_text.txt
TranscriptionData/new_1_segments.json
TranscriptionData/new_1_text.txt
__pycache__/Cards.cpython-311.pyc
__pycache__/ScreenRecord.cpython-311.pyc
__pycache__/Transcribe.cpython-311.pyc
